PORT=5000
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=coaching_institute
JWT_SECRET=change_this_secret
FRONTEND_URL=http://localhost:3000
DEFAULT_ADMIN_MOBILE=9999999999
DEFAULT_ADMIN_PASSWORD=admin123

